.vscode/*
CHANGELOG
CarlaUE4.exe
CarlaUE4/*
Co-Simulation/*
Dockerfile
Engine/*
HDMaps/*
LICENSE
Plugins/*
PythonAPI/examples/__pycache__/*
PythonAPI/examples/_out/*
PythonAPI/examples/test.png
README
cache/*
PythonAPI/codebachelor/__pycache__/*
PythonAPI/codebachelor/cache/*
